@model TrustCare.Models.User

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfile" asp-route-id="@Model.UserId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <!-- Other form fields for user profile data -->
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <!-- Add similar fields for other user properties -->

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
