@model TrustCare.Models.Homepage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Homepage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HomeId" />
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentText" class="control-label"></label>
                <input asp-for="ContentText" class="form-control" />
                <span asp-validation-for="ContentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideImageImage" class="control-label"></label>
                <input asp-for="SlideImageImage" class="form-control" />
                <span asp-validation-for="SlideImageImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadingOne" class="control-label"></label>
                <input asp-for="HeadingOne" class="form-control" />
                <span asp-validation-for="HeadingOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadingThree" class="control-label"></label>
                <input asp-for="HeadingThree" class="form-control" />
                <span asp-validation-for="HeadingThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
